<div ng-controller="WateringController as watering">
    <fieldset style="border-radius:4px;">
        <legend>Полив</legend>

        <div ng-repeat="alarm in watering.alarms" style="margin: 10px 0;">
            <label><input type="checkbox" ng-model="alarm.enabled"> {{alarm.time}}</label>
        </div>

        <button ng-click="watering.post()" class="button">Сохранить</button>

        <a href="#/" class="button" style="float: right;">Назад</a>
        <div style="clear: both;"></div>

    </fieldset>
</div>
